/**
 * Place your custom CSS styles here.
 **/

.inject-toast-area {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99999999999999;
}
.inject-toast {
    padding: 10px 15px;
    background: #FFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}
.inject-toast.good {
    background: green;
    color: #FFF;
}
.inject-toast.bad {
    background: red;
    color: #FFF;
}

/* -------- SITESTUDIO -------- */

.ui-wrapper {
    padding-top: 30px;
}
.ui-wrapper .editor-options {
    font-size: 14px;
    background: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
}
.ui-wrapper.fixed .editor-options {
    padding: 0 10px;
    top: -30px;
}

.ui-wrapper .editor-options .btn {
    display: none;
}
.ui-wrapper .btn.full-size {
    display: block;
}

.ui-wrapper.fixed .btn.full-size {
    display: none;
}
.ui-wrapper.fixed .btn.reduce-size {
    display: block;
}

.ui-wrapper.fixed {
    position: fixed !important;
    overflow: visible !important;
    top: 30px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 49px !important;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 9999 !important;
    width: 100% !important;
    height: auto !important;
}
#monaco {
    width: 892px;
    height: 320px;
    border: 1px solid grey;
}
.ui-wrapper.fixed #monaco {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.inject-label {
    display: inline-block;
    color: #FFF;
    background: red;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
    font-weight: 700;
}

.ifcdevtools-sitestudio .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #FFF;
    cursor: pointer;
}
.ifcdevtools-sitestudio .close-btn:before {
    content: '\f00d';
    font-family: 'FontAwesome';
    font-size: 22px;
}

.sitestudio-footer-addons {
    display: inline-block;
}
.sitestudio-footer-addons .item {
    color: #FFF;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #666;
    font-size: 0;
}
.sitestudio-footer-addons .item.goBack {
    display: none;
}
body.publishpage .sitestudio-footer-addons .item.goBack {
    display: inline-block;
}
.sitestudio-footer-addons .item:last-child {
    border-right: 0;
}
.sitestudio-footer-addons .item * {
    font-size: 12px;
    margin-right: 5px;
}

.sitestudio-footer-addons .btn-default {
    cursor: pointer;
    background: #FFF;
    padding: 6px 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
}
.sitestudio-footer-addons .btn-default.disabled {
    opacity: 0.4;
    cursor: default;
}
.sitestudio-footer-addons .btn-default.disabled:hover {
    background: #FFF;
    text-decoration: none;
}
.sitestudio-footer-addons .btn-default:hover {
    background: #efefef;
    text-decoration: underline;
}
.sitestudio-footer-addons .save-page,
.sitestudio-footer-addons .publish-page {
    display: none;
}
.sitestudio-footer-addons.selected .save-page,
.sitestudio-footer-addons.selected .publish-page {
    display: inline-block;
}

.sitestudio-footer-addons #publishList {
    height: 25px;
}

.sitestudio-footer-addons .publishMultipleList {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
    background: #555;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.sitestudio-footer-addons.multiple .publishMultipleList {
    display: block;
}

.sitestudio-footer-addons #publishMultipleList {
    width: 200px;
    height: 200px;
}


.sitestudio-footer-addons .publishTray {
    display: none;
    position: fixed;
    bottom: 49px;
    left: 0;
    right: 0;
    background: #555;
    padding: 10px;
    margin: 0;
}
.sitestudio-footer-addons .publishTray .node {
    display: inline-block;
    background: #FFF;
    color: #000;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 0 5px 5px 0;
}
.sitestudio-footer-addons .publishTray .node:before {
    content: "\f141";
    font-family: 'FontAwesome';
    margin-right: 3px;
    display: inline-block;
}
.sitestudio-footer-addons .publishTray .node.publishing {
    background: orange;
    color: #FFF;
}
    .sitestudio-footer-addons .publishTray .node.publishing:before {
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
        content: "\f110";
    }
.sitestudio-footer-addons .publishTray .node.finished {
    background: green;
    color: #FFF;
}
    .sitestudio-footer-addons .publishTray .node.finished:before {
        content: "\f00c";
    }
.sitestudio-footer-addons .publishTray .node.node-btn {
    background: #666;
    color: #FFF;
    cursor: pointer;
}
    .sitestudio-footer-addons .publishTray .node.node-btn:before {
        content: "\f00d";
    }

.sitestudio-footer-addons.publishing .publishTray {
    display: block;
}

#stores-catalogpages-content-box h5:first-child {
    font-size: 16px;
}
#stores-catalogpages-content-box h5:first-child .destaque {
    background: #333;
    color: #FFF;
    padding: 3px 10px;
    border-radius: 15px;
    display: inline-block;
}

.ifcdevtools-sitestudio #footer {
    z-index: 9999;
}


/* -------- ADMIN -------- */

.inject-link {
    display: inline-block;
    color: #FFF;
    background: #333;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 11px;
    text-decoration: none;
    font-weight: 700;
}
.inject-link:hover {
    background: #666;
}

.headerLogo {
    cursor: pointer;
}
.pos-relative {
    position: relative;
}
.selo-ambiente {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    background: #444;
    padding: 3px 10px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700;
}

.solr-wrapper {
    position: absolute;
    top: 2px;
    right: 5px;
    z-index: 2;
}
.solr-status {
    font-weight: bold;
    color: #333;
    display: inline-block;
    padding-right: 5px;
}
.run-solr-btn {
    display: inline-block;
    color: #FFF !important;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 25px;
    width: 70px;
    text-align: center;
}
    .run-solr-btn.disabled {
        background: #333 !important;
        cursor: default;
    }
.run-cache-btn {
    display: inline-block;
    color: #FFF !important;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5px;
    width: 130px;
    text-align: center;
}
    .run-cache-btn.disabled {
        background: #333 !important;
        cursor: default;
    }

body.dev-admin .selo-ambiente,
body.dev-admin .run-solr-btn,
body.dev-admin .run-cache-btn {
    background: darkblue;
}
body.dev-admin .run-solr-btn:hover,
body.dev-admin .run-cache-btn:hover {
    background: #050566  !important;
}

body.hcp-admin .selo-ambiente,
body.hcp-admin .run-solr-btn,
body.hcp-admin .run-cache-btn {
    background: orangered;
}
body.hcp-admin .run-solr-btn:hover,
body.hcp-admin .run-cache-btn:hover {
    background: #bf3503 !important;
}

.hide {
    display: none;
}

/* -------- JIRA -------- */

.jira-default-btn {
    display: inline-block;
    background: darkblue;
    color: #FFF;
    text-decoration: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    font-size: 10px;
}
.jira-default-btn:hover {
    text-decoration: underline;
}

.ifcdevtools-jira .deploy-task {
    margin-left: 5px;
}